@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b3039;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 1000;
}



.header .logo{
    cursor:pointer;
    
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-list{
list-style: none;
}

.header .nav-list li{
    display: inline-block;
    padding:  0 20px;
}

.header .nav-list li:hover{
    transform: scale(1.1);

}

.header .nav-list a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-list li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

#check{
    display: none;
}


.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.header.active{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.header.active  nav .nav-list li a:hover{
    color: #ffbc0e;
}

.header.active  nav .nav-list li a{
    color: black;
}

header.active  nav .nav-list li .btn button{
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: #193a50;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
}

body {
    padding-top: 85px; /* Ajustar para que el contenido comience después del header */
}

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 100px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    margin-top: 85px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items:center ;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
    border-radius: 20px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media(max-width: 1137px){
    .checkbtn{
        display: block;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        height: 100px;
        background: #2b4855;
        top: 85px;
        right: -100%;
        text-align: left;
        transition: all .5s;
    }
    

    nav .nav-list li{
        display: block;
        margin: 10px 0;
        line-height: 15px;
    }

    nav .nav-list li a{
        font-size: 20px;
    }

    #check:checked~ .nav-list{
        right: 0;
    }

    .header.active nav .nav-list{
        position: fixed;
        width: 100%;
        background: #fafafa10;
        backdrop-filter: blur(0.4rem);
        -webkit-backdrop-filter: blur(0.4rem);
        top: 85px;
        right: -100%;
        text-align: left;
        transition: all .5s;
    }
}
